In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv('/Users/lenovo1/Downloads/lab-cleaning-numerical-data/we_fn_use_c_marketing_customer_value_analysis.csv')
display(data.shape)
data.head()

(9134, 24)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

# 1.Define X and y
# 2.Import sklearn train_test_split and separate the data. Set test_size=0.30 and random_state=31

In [4]:
X = data
y = data

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=31)

# 3. Separate X_train and X_test into numerical and categorical (X_train_cat , X_train_num , X_test_cat , X_test_num)

In [5]:
X_train_num = X_train.select_dtypes(include = np.number)
X_train_cat = X_train.select_dtypes(include = object)
X_test_num = X_test.select_dtypes(include = np.number)
X_test_cat = X_test.select_dtypes(include = object)

# 4.Encode the categorical variables X_train_cat and X_test_cat using the OneHotEncoder setup in the previous lab. Remember to use .toarray() after .transform() to endup with a numpy array. Next, cast the resulting numpy arrays into pandas DataFrames. Make sure that the column names of the new dataframes are correctly setup using encoder.get_feature_names_out() and the same indexes of X_train_cat and X_test_cat

In [6]:
from sklearn.preprocessing import OneHotEncoder

In [7]:
from sklearn.preprocessing import OneHotEncoder


X_train_cat1 = X_train_cat.copy()
encoder = OneHotEncoder(drop='first')
encoder.fit(X_train_cat1)


encoded_X_train_cat = encoder.transform(X_train_cat1).toarray()

encoded_X_train_cat = pd.DataFrame(encoded_X_train_cat, columns = encoder.get_feature_names_out(), index=X_train_cat1.index)

display(encoded_X_train_cat.head(5))


X_test_cat1 = X_test_cat.copy()
encoder = OneHotEncoder(drop='first')
encoder.fit(X_test_cat1)


encoded_X_test_cat = encoder.transform(X_test_cat1).toarray()

encoded_X_test_cat = pd.DataFrame(encoded_X_test_cat, columns = encoder.get_feature_names_out(), index=X_test_cat1.index)

display(encoded_X_test_cat.head(5))

,Customer_AA16582,Customer_AA30683,Customer_AA34092,Customer_AA35519,Customer_AA69265,Customer_AA71604,Customer_AA93585,Customer_AB21519,Customer_AB23825,Customer_AB31813,...,Sales Channel_Branch,Sales Channel_Call Center,Sales Channel_Web,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Size_Medsize,Vehicle Size_Small
8444,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2891,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
5464,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
7432,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3919,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

,Customer_AA56476,Customer_AB13432,Customer_AB26022,Customer_AB72731,Customer_AB73565,Customer_AB78984,Customer_AC40767,Customer_AC42963,Customer_AC67315,Customer_AC73173,...,Sales Channel_Branch,Sales Channel_Call Center,Sales Channel_Web,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Size_Medsize,Vehicle Size_Small
8760,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4901,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
5118,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1930,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2474,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# 5.Use X_train_num to fit a power transformer. Transform BOTH X_train_num and X_test_num. Next, cast the resulting numpy arrays as pandas dataframes. Make sure to set the correct columns names and to use the same indexes of X_train_num and X_test_num. Name the final resulting dataframes as: X_train_num_transformed_df and X_test_num_transformed_df

In [8]:
from sklearn.preprocessing import PowerTransformer

pt = PowerTransformer()
X_train_num_transformed = pt.fit_transform(X_train_num)
X_test_num_transformed = pt.transform(X_test_num)

column_names = X_train_num.columns

X_train_num_transformed_df = pd.DataFrame(X_train_num_transformed, columns=column_names, index=X_train_num.index)
X_test_num_transformed_df = pd.DataFrame(X_test_num_transformed, columns=column_names, index=X_test_num.index)

display(X_train_num_transformed_df)
display(X_test_num_transformed_df)

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
8444,0.499021,0.021464,-0.633251,0.048267,0.269416,-0.513111,-0.064941,0.153297
2891,-0.467968,-1.649407,-0.566921,1.653602,0.236349,2.009990,1.132407,-0.118964
5464,-0.067597,0.754866,-0.772902,-1.476582,0.653360,-0.513111,0.514553,-0.182817
7432,0.379093,0.535860,0.542226,-0.840605,-0.509404,-0.513111,1.462547,0.294141
3919,-0.415574,1.084631,1.038549,0.142059,0.957827,1.898546,-1.149461,-0.000854
...,...,...,...,...,...,...,...,...
5372,1.496427,0.511091,2.080889,0.322050,0.169661,-0.513111,1.670486,2.291554
28,1.121229,1.007366,0.928034,1.523604,0.302304,1.996047,-0.064941,0.510227
826,-0.403507,0.942005,0.995772,0.575934,1.308105,-0.513111,-1.149461,0.554616
3735,-1.896152,-1.649407,-1.443940,-1.962537,1.192998,-0.513111,-1.149461,-0.332511
4818,-2.136749,-1.649407,-1.083591,0.233247,-0.358326,2.013383,-1.149461,-0.252698

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
8760,-0.182695,1.080187,-1.168613,-0.979381,-0.321341,-0.513111,0.514553,-0.219396
4901,-0.627800,0.268482,0.751069,1.111327,-0.284648,-0.513111,-1.149461,0.404114
5118,0.837732,0.817410,1.309145,-0.979381,0.590890,1.898546,1.318858,-0.419268
1930,1.585593,-1.649407,-0.922663,0.575934,0.684386,1.898546,-0.064941,-0.213752
2474,-1.420362,-1.649407,-0.158629,0.142059,1.192998,-0.513111,-1.149461,1.311797
...,...,...,...,...,...,...,...,...
4569,-1.414699,0.523555,-0.772902,1.252815,0.496102,-0.513111,-1.149461,-1.278563
3814,-1.671666,0.759395,-1.443940,-0.251537,0.559442,-0.513111,-1.149461,-2.283353
6762,-0.084516,0.999602,1.424601,-1.129035,1.617050,1.898546,-1.149461,0.533036
1969,-0.592833,0.700972,0.751069,1.252815,1.163972,-0.513111,-1.149461,0.404114
546,0.496699,0.624495,0.694983,-1.292911,0.033931,-0.513111,0.514553,-0.045529

# 6.Concat X_train_num_transformed_df and X_train_cat_encoded_df into X_train_new and X_test_num_transformed_df and X_test_cat_encoded_df into X_test_new

In [9]:
X_train_new = pd.concat([X_train_num_transformed_df, encoded_X_train_cat], axis=1)

X_test_new = pd.concat([X_test_num_transformed_df, encoded_X_test_cat], axis=1)

display(X_train_new)
display(X_test_new)

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount,Customer_AA16582,Customer_AA30683,...,Sales Channel_Branch,Sales Channel_Call Center,Sales Channel_Web,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Size_Medsize,Vehicle Size_Small
8444,0.499021,0.021464,-0.633251,0.048267,0.269416,-0.513111,-0.064941,0.153297,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2891,-0.467968,-1.649407,-0.566921,1.653602,0.236349,2.009990,1.132407,-0.118964,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
5464,-0.067597,0.754866,-0.772902,-1.476582,0.653360,-0.513111,0.514553,-0.182817,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
7432,0.379093,0.535860,0.542226,-0.840605,-0.509404,-0.513111,1.462547,0.294141,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3919,-0.415574,1.084631,1.038549,0.142059,0.957827,1.898546,-1.149461,-0.000854,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5372,1.496427,0.511091,2.080889,0.322050,0.169661,-0.513111,1.670486,2.291554,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
28,1.121229,1.007366,0.928034,1.523604,0.302304,1.996047,-0.064941,0.510227,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
826,-0.403507,0.942005,0.995772,0.575934,1.308105,-0.513111,-1.149461,0.554616,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3735,-1.896152,-1.649407,-1.443940,-1.962537,1.192998,-0.513111,-1.149461,-0.332511,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4818,-2.136749,-1.649407,-1.083591,0.233247,-0.358326,2.013383,-1.149461,-0.252698,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount,Customer_AA56476,Customer_AB13432,...,Sales Channel_Branch,Sales Channel_Call Center,Sales Channel_Web,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Size_Medsize,Vehicle Size_Small
8760,-0.182695,1.080187,-1.168613,-0.979381,-0.321341,-0.513111,0.514553,-0.219396,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4901,-0.627800,0.268482,0.751069,1.111327,-0.284648,-0.513111,-1.149461,0.404114,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
5118,0.837732,0.817410,1.309145,-0.979381,0.590890,1.898546,1.318858,-0.419268,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1930,1.585593,-1.649407,-0.922663,0.575934,0.684386,1.898546,-0.064941,-0.213752,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2474,-1.420362,-1.649407,-0.158629,0.142059,1.192998,-0.513111,-1.149461,1.311797,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4569,-1.414699,0.523555,-0.772902,1.252815,0.496102,-0.513111,-1.149461,-1.278563,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3814,-1.671666,0.759395,-1.443940,-0.251537,0.559442,-0.513111,-1.149461,-2.283353,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6762,-0.084516,0.999602,1.424601,-1.129035,1.617050,1.898546,-1.149461,0.533036,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1969,-0.592833,0.700972,0.751069,1.252815,1.163972,-0.513111,-1.149461,0.404114,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
546,0.496699,0.624495,0.694983,-1.292911,0.033931,-0.513111,0.514553,-0.045529,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

# 7.Fit a MinMax scaler using X_train_new and transform X_train_new and X_test_new. Create new pandas dataframes from the resulting numpy arrays. Remember to set the correct columns names and indexes. Name the resulting dataframes as: X_train_new_scaled_df and X_test_new_scaled_df

In [10]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit_transform(X_train_new)

X_train_new_scaled = scaler.fit_transform(X_train_new)
X_test_new_scaled = scaler.fit_transform(X_test_new)

X_train_new_scaled_df = pd.DataFrame(X_train_new_scaled, columns=X_train_new.columns, index=X_train_new.index)
X_test_new_scaled_df = pd.DataFrame(X_test_new_scaled, columns=X_test_new.columns, index=X_test_new.index)

display (X_train_new_scaled_df.describe())

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount,Customer_AA16582,Customer_AA30683,...,Sales Channel_Branch,Sales Channel_Call Center,Sales Channel_Web,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Size_Medsize,Vehicle Size_Small
count,6393.000000,6393.000000,6393.000000,6393.000000,6393.000000,6393.000000,6393.000000,6393.000000,6393.000000,6393.000000,...,6393.000000,6393.000000,6393.000000,6393.000000,6393.000000,6393.000000,6393.000000,6393.000000,6393.000000,6393.000000
mean,0.448122,0.595425,0.403561,0.542716,0.560660,0.203003,0.407618,0.380278,0.000156,0.000156,...,0.280619,0.192711,0.144533,0.017519,0.018771,0.194744,0.050680,0.207571,0.701236,0.196934
std,0.197535,0.361022,0.261546,0.276560,0.267158,0.395662,0.354644,0.134366,0.012507,0.012507,...,0.449337,0.394459,0.351657,0.131206,0.135724,0.396035,0.219361,0.405599,0.457752,0.397713
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.318286,0.000000,0.162261,0.310257,0.350152,0.000000,0.000000,0.319753,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.442548,0.728113,0.401167,0.556064,0.578871,0.000000,0.384589,0.378981,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,0.572726,0.870116,0.633786,0.767801,0.784398,0.000000,0.719520,0.454794,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# 8.Train a simple linear regression model using X_train_new_scaled_df, and get the predictions for the train and test sets

In [27]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor

def train_models(models, X_train, y_train):
    '''
    This function trains multiple models using the given training data.

    Inputs:
    models: list of model names
    X_train: training features
    y_train: training target

    Output:
    dict of trained models
    '''
    trained_models = {}
    
    for model_name in models:
        if model_name == 'LinearRegression':
            model = LinearRegression()
        elif model_name == 'KNeighborsRegressor':
            model = KNeighborsRegressor()
        elif model_name == 'MLPRegressor':
            model = MLPRegressor()
        else:
            raise ValueError(f"Invalid model name: {model_name}")
        
        model.fit(X_train, y_train)
        trained_models[model_name] = model
    
    return trained_models

In [31]:
print(X_train_new_scaled_df.shape)  # Check the shape of X_train_new_scaled_df
print(len(y_train))                 # Check the number of elements in y_train

(6393, 6501)
5

# 9.Create a function that given a model prediction and real values returns a pandas dataframe with the following table:
Error_metric	Value 
MAE	value
MSE	value
RMSE	value
MAPE	value
R2	value

In [25]:
import pandas as pd
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, mean_absolute_percentage_error

def error_metrics_report(y_true, y_pred):
    '''
    This function takes the true values and predicted values and returns a Pandas DataFrame
    with a summary of error metrics.

    Inputs:
    y_true: list or array of true values
    y_pred: list or array of predicted values

    Output:
    pd.DataFrame
    '''

    # Calculate error metrics
    mae = mean_absolute_error(y_true, y_pred)
    mse = mean_squared_error(y_true, y_pred)
    rmse = mean_squared_error(y_true, y_pred, squared=False)
    mape = mean_absolute_percentage_error(y_true, y_pred)
    r2 = r2_score(y_true, y_pred)

    # Create a DataFrame with the error metrics
    metrics = {
        'Metric': ['MAE', 'MSE', 'RMSE', 'MAPE', 'R2'],
        'Value': [mae, mse, rmse, mape, r2]
    }
    metrics_df = pd.DataFrame(metrics)

    return metrics_df

# Assuming you have the necessary variables defined
y_train = [1, 2, 3, 4, 5]
y_train_pred = [1.1, 2.2, 3.3, 4.4, 5.5]
y_test = [6, 7, 8, 9, 10]
y_test_pred = [6.2, 7.3, 8.4, 9.5, 10.6]

# Call the error_metrics_report function for train and test sets
train_metrics = error_metrics_report(y_train, y_train_pred)
test_metrics = error_metrics_report(y_test, y_test_pred)

# Print the train and test metrics
print('Train Set Metrics:')
print(train_metrics)
print('\nTest Set Metrics:')
print(test_metrics)

Train Set Metrics:
  Metric     Value
0    MAE  0.300000
1    MSE  0.110000
2   RMSE  0.331662
3   MAPE  0.100000
4     R2  0.945000

Test Set Metrics:
  Metric     Value
0    MAE  0.400000
1    MSE  0.180000
2   RMSE  0.424264
3   MAPE  0.048349
4     R2  0.910000

# 10.Evaluate the linear model predictions using the previous function on the TRAIN and TEST sets

In [48]:
error_metrics_report(y_train, y_train_pred)

  Metric     Value
0    MAE  0.300000
1    MSE  0.110000
2   RMSE  0.331662
3   MAPE  0.100000
4     R2  0.945000

In [49]:
error_metrics_report(y_test, y_test_pred)

  Metric     Value
0    MAE  0.400000
1    MSE  0.180000
2   RMSE  0.424264
3   MAPE  0.048349
4     R2  0.910000

# 11.Now define a function that takes as an input: list of models, X_train and y_train to train several model (with default values) so we can train a lot of them without repeating code. The function must return the list of trained models.

In [60]:
def train_models(models: list, X_train: list, y_train: list)-> list:
    '''
    This function takes  as an input: list of models, X_train and y_train 
    to train several model (with default values)
    
    Input
    models: list 
    X_train: list 
    y_train: list
    
    Output: list
    
    '''
    
    trained_models = []
    
    for model in models:
        if model == 'LinearRegression':
            reg = LinearRegression()
        elif model == 'KNeighborsRegressor':
            reg = KNeighborsRegressor(n_neighbors=3)
        elif model == 'MLPRegressor':
            reg = MLPRegressor(hidden_layer_sizes=(100, 50), activation='relu', solver='adam')
        else:
            print("error")
    
        a = reg.fit(X_train_new_scaled_df, y_train)
        trained_models.append(a)
    
    return trained_models

# 12.Use the function to train the following models (with default settings):
*LinearRegressor

*KNeighborsRegressor

*MLPRegressor

In [84]:
def train_models(models, X_train, y_train):
    trained_models = []
    
    for model_name in models:
        if model_name == 'LinearRegression':
            model = LinearRegression()
        elif model_name == 'KNeighborsRegressor':
            model = KNeighborsRegressor(n_neighbors=3)
        elif model_name == 'MLPRegressor':
            model = MLPRegressor(hidden_layer_sizes=(100, 50), activation='relu', solver='adam')
        else:
            print("Invalid model name:", model_name)
            continue
        
        model.fit(X_train, y_train)
        trained_models.append(model)
    
    print(trained_models)

# 15.Evaluate the models with the function created earlier in the TRAIN and TEST sets. Which model performs best with the default options?

In [92]:
# Train the models and assign them to the trained_models variable
train_models(models, X_train, y_train)

# Evaluate and print the metrics for each model
for model in trained_models:
    y_train_pred = model.predict(X_train_new_scaled_df)
    y_test_pred = model.predict(X_test_new_scaled_df)    
    print(model)
    
    print('Train set metrics:')
    print(error_metrics_report(y_train, y_train_pred))
        
    print('Test set metrics:')
    print(error_metrics_report(y_test, y_test_pred))
    
    print('\n\n')

ValueError: could not convert string to float: 'DZ85842'